@import "tailwindcss";

@theme {
  --color-brand-primary: #06b6d4; /* Cyan-500 */
  --color-brand-secondary: #0d9488; /* Teal-600 */
  --color-brand-black: #000000;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff;
  color: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  background-color: #0f172a;
  color: #f8fafc;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
